on:
  push:
    branches: 
      - master
  schedule:
    - cron: "0 1 * * *" 

name: Build LibTorch

jobs:
  Nightly-Build:
    strategy:
      fail-fast: false
      matrix:
        os: ["macos-latest"]
        version: ["master", "v1.9", "v1.11.0"]
        include:
        - version: master
          branch: master
        - version: v1.9
          branch: release/1.9
        - version: v1.11
          branch: release/1.11
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.version }}
    timeout-minutes: 360
    env:
      BRANCH: ${{ matrix.branch }}
    steps:
      - uses: actions/checkout@v2
      - uses: s-weigand/setup-conda@v1
      - name: Install dependencies
        run: |
          conda install numpy ninja pyyaml mkl mkl-include setuptools cmake cffi typing_extensions
      - name: Clone pytorch
        run: |
          git clone --recursive https://github.com/pytorch/pytorch --branch ${BRANCH} --single-branch
      - name: Build
        run: |
          cd pytorch
          mkdir build_libtorch && cd build_libtorch
          python ../tools/build_libtorch.py
      - name: Upload libtorch
        uses: actions/upload-artifact@v1
        with:
          name: libtorch
          path: pytorch/build_libtorch/build/lib
      - name: Upload declarations.yaml
        uses: actions/upload-artifact@v1
        with:
          name: Declarations.yaml
          path: pytorch/build_libtorch/build/aten/src/ATen/Declarations.yaml
      - name: Upload to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.PAT }}
          file: pytorch/build_libtorch/build/aten/src/ATen/Declarations.yaml
          tag: declarations
          overwrite: true  
          asset_name: declarations-${{ matrix.version }}     
