on:
  push:
  pull_request:
  schedule:
    - cron: "0 1 * * *"

name: Build LibTorch

jobs:
  Nightly-Build:
    strategy:
      fail-fast: false
      matrix:
        os: ["macos-latest"]
        branch: ["master", "release/1.5"]
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}
    timeout-minutes: 120
    env:
      BRANCH: ${{ matrix.branch }}
    steps:
      - uses: actions/checkout@v2
      - uses: s-weigand/setup-conda@v1
      - name: Install dependencies
        run: |
          conda install numpy ninja pyyaml mkl mkl-include setuptools cmake cffi
      - name: Clone pytorch
        run: |
          git clone --recursive https://github.com/pytorch/pytorch --branch ${BRANCH} --single-branch
      - name: Build
        run: |
          cd pytorch
          mkdir build_libtorch && cd build_libtorch
          python ../tools/build_libtorch.py
      - name: Upload libtorch
        uses: actions/upload-artifact@v1
        with:
          name: libtorch
          path: pytorch/build_libtorch/build/lib
      - name: Upload declarations.yaml
        uses: actions/upload-artifact@v1
        with:
          name: declarations-${{ matrix.branch }}
          path: pytorch/build_libtorch/build/aten/src/ATen/Declarations.yaml
      - name: Upload to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: pytorch/build_libtorch/build/aten/src/ATen/Declarations.yaml
          tag: ${{ matrix.branch }}
          overwrite: true       
